<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>Formulario de actualización</title>

</head>


    <body>
<h1>Formulario de actualización</h1>
<form action="/BasicCRUDWebApp/FrontController"><input name="form" value="updateServlet" type="hidden">
Nombre anterior: <input name="formerName" value="" type="text"><br>
Nuevo nombre: <input name="name" value="" type="text"><br>
Nueva dirección <input name="address" value="" type="text"><br>
Nuevo teléfono: <input name="phone" value="" type="text"><br>
Nueva edad: <input name="age" value="" type="text"><br>
Nuevo nivel de amistad:
<select name="friendshipLevel"><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option></select>
<br>
Nuevos comentarios: <textarea name="comments" rows="4" cols="20"> </textarea><br>
<button>Enviar</button> </form>
</body></html>