<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Holamindo</servlet-name>
        <servlet-class>Holamindo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Holamundo</servlet-name>
        <servlet-class>es.Holamundo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ciclodevida</servlet-name>
        <servlet-class>es.ciclodevida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sumadora</servlet-name>
        <servlet-class>servlets.Sumadora</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>Sumadora.Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSumadora</servlet-name>
        <servlet-class>Sumadora.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sumar</servlet-name>
        <servlet-class>Sumadora.sumar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Holamindo</servlet-name>
        <url-pattern>/Holamindo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Holamundo</servlet-name>
        <url-pattern>/Holamundo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ciclodevida</servlet-name>
        <url-pattern>/ciclodevida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sumadora</servlet-name>
        <url-pattern>/Sumadora</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSumadora</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sumar</servlet-name>
        <url-pattern>/sumar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
